@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #161616;
    width: 100%;
    height: auto;
}

.center{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.center h1{
    padding-top: 60px;
    margin-bottom: -140px;
    z-index: 300;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: rgba(245, 245, 245, 0.823);
}

.center .logo {
    height: fit-content;
    justify-content: center;
}

.center .logo img{
    width: 200px;
    z-index: -1;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.665));
}

.center .phone-container{
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 250px;
    height: 541.5px;
    border-radius: 40px;
    border: 7px solid rgb(0, 0, 0);
    background-image: url(../image/iPhone-15-Pro-Black-wallpaper-1.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 102px 1px rgba(255,255,255,0.36);
}

.center .phone-container .dynamic-island{
    position: relative;
    margin: 11px 20px;
    width: 60px;
    height: 13px;
    border: 3px solid rgba(0, 0, 0);
    border-radius: 10px;
    background-color: black;
    margin-top: 10px;
}

.center .phone-container .dynamic-island .circle{
    border: 1px solid rgba(255, 0, 0, 0.205);
    background-color: rgba(255, 0, 0, 0.205);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px 0 0 3px;
}


.center .phone-container .apps{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    padding: 10px;
    flex-wrap: wrap;
}


.center .phone-container .top{
    display: flex;
    gap: 10px;
    
}

.center .phone-container .top .wifi{
    color: white;
    opacity: 0.6;
    font-size: 12px;
    margin: 11px 2px;
}

.center .phone-container .top .battery{
    margin: 11px 2px;
    color: white;
    opacity: 0.6;
    font-size: 15px;
}


.center .phone-container .top .clock p{
    position: relative;
    float: left;
    padding-left: 20px;
    margin: 11px 2px;
    font-size: 14px;
    color: white;
    opacity: 0.6;
}

.center .phone-container img{
    position: relative;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    opacity: 0.9;
    margin: 0px px 0  0;
    padding: 7px 5px 5px 5px;
    align-items: center;
}


.center .phone-container #main{
    padding: 10px 0;
}

.center .phone-container #main img{
    width: 40px;
    height: 40px;
    border-radius: 20;
    padding: 5px 11px 5px 11px;
}


.center .phone-container .apps .appname{
    width:fit-content;
    height: auto;
    padding-top: -50px;
}

.center .phone-container .apps .appname p{
    color: white;
    text-align: center;
    opacity: 0.5;
    margin: 0;
    margin-top: -3px;
    margin-bottom: 7px;
    font-size: 9px;
}

.center .phone-container .bottom{
    position: fixed;
    display: flex;
    justify-content: flex;
    width: 220px;
    height: min-content;
    margin-top: 80px;
    margin-left: 8px;
    padding: 3px;
    padding-left: 10px; 
    background-color:rgba(128, 128, 128, 0.15);
    border-radius: 30px;
}
.center .phone-container .bottom .appname{
    display: flexbox;
}

.center .phone-container .bottom .appname img{
    padding: 3px 7px;
}



.center .phone-container .bottom .appname p{
    color: white;
    text-align: center;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-bottom: 0px;
    font-size: 9px;
}



